@use './../abstracts';

html {
	font-size: 62.5%;
}

body {
	font-family: abstracts.$font-family-base;
	font-size: abstracts.$font-size-base;
	line-height: abstracts.$line-height-base;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Common
.container {
	width: abstracts.$container-width;
	max-width: calc(100% - 48px);
	margin: 0 auto;
}

.section-heading {
	font-size: 5rem;
	font-weight: 600;
	line-height: 6rem;
	letter-spacing: -0.02em;
	color: abstracts.$primary-color;
}

.section-desc {
	margin-top: 18px;

	font-size: 1.8rem;
	font-weight: 300;
	line-height: 3rem;
	color: abstracts.$text-color;
}
