@import './../vendors/meyerweb';

* {
	box-sizing: border-box;
}

button,
input,
select,
textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a {
	text-decoration: none;
}
