// Colors
$primary-color: #2e80ce;
$secondary-color: #fcbf16;

$white-color: #fff;
$black-color: #000;

$header-bg-color: #10375c;

// Spacings
$container-width: 1170px;

// Fonts
$font-family-base: 'Sora', sans-serif;
$font-size-base: 1.6rem;
$font-size-sm: 1.4rem;
$font-size-lg: 2rem;
$font-size-xl: 2.4rem;

// Line height
$line-height-base: 1.4;

// Shadows
$box-shadow: 0px 4px 8px
	rgba(
		$color: $black-color,
		$alpha: 0.1
	);

// Border Radius
$border-radius-base: 12px;
$border-radius-sm: 8px;
$border-radius-lg: 14px;
$border-radius-xl: 16px;
