@use './../abstracts';

// Service
.service {
	margin-top: 170px;

	.service__heading,
	.service__desc {
		text-align: center;
	}

	.service__desc {
		width: 468px;
		margin-inline: auto;
	}

	.service__row {
		margin-top: 70px;

		display: flex;
		align-items: center;
		justify-content: space-between;

		.service__img {
			width: 570px;
			height: 570px;
			object-fit: cover;
		}
	}

	.service__list {
		width: 470px;

		.service-item {
			padding: 22px;
			display: flex;
			border-radius: 10px;
			transition: 0.3s;
			background-color: abstracts.$white-color;

			&:hover {
				cursor: pointer;
				position: relative;
				box-shadow: 0px 14px 28px 0px #0000000d;

				.service-item__icon {
					color: abstracts.$white-color;
					background-color: abstracts.$secondary-color;
					box-shadow: 0px 8px 16px 0px #289bde26;
				}
			}

			.service-item__icon {
				width: 60px;
				height: 60px;

				flex-shrink: 0;
				justify-content: center;
				align-items: center;
				display: inline-flex;

				border-radius: 50%;

				color: abstracts.$primary-color;
				background-color: #eff6fd;
				box-shadow: 0px 8px 16px 0px #0000000d;
			}

			.service-item__body {
				margin-left: 19px;

				.service-item__heading {
					font-size: 1.8rem;
					font-weight: 600;
					line-height: 1.26;
					color: abstracts.$primary-color;
				}

				.service-item__desc {
					font-weight: 300;
					line-height: 1.75;
					color: abstracts.$text-color;
				}
			}
		}
	}

	.all-service-btn {
		margin-top: 55px;
	}
}

// Work
.work {
	margin-top: 170px;
	padding-block: 100px;

	background-color: #f6fbff;

	.work__desc {
		width: 478px;
	}

	.work__list {
		margin-top: 86px;

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 30px;

		.work-item {
			$color: #eaf6ff;

			border-radius: 4px;
			border: 16px solid $color;
			background-color: $color;
			transition: 0.3s;

			&:hover {
				cursor: pointer;
				transform: translateY(-16px);
				border-color: abstracts.$secondary-color;
				background-color: abstracts.$secondary-color;
			}

			.work-item__wrap {
				padding: 42px;
				border-radius: 4px;
				background-color: abstracts.$white-color;

				.work-item__heading {
					margin-top: 18px;

					font-size: 2.6rem;
					font-weight: 600;
					line-height: 1.38;
					color: abstracts.$primary-color;
				}

				.work-item__desc {
					margin-top: 28px;
					font-weight: 300;
					line-height: 1.75;
					color: abstracts.$text-color;
				}

				.work-item__more {
					margin-top: 18px;
					display: inline-block;

					font-weight: 300;
					line-height: 1.75;
					color: abstracts.$secondary-color;
				}
			}
		}
	}
}

// Feature {
.feature {
	margin-top: 75px;
	padding-block: 75px;

	.feature__wrap {
		display: flex;
		column-gap: 130px;
		align-items: center;

		.feature__media {
			width: 48%;

			.feature__imgs {
				position: relative;
				padding-bottom: 121px;

				.feature__img {
					border-radius: 6px;
					object-fit: cover;
					display: inline-flex;
				}

				.feature__img:first-child {
					width: 512px;
					height: 370px;
				}

				.feature__img:last-child {
					width: 332px;
					height: 370px;

					bottom: 0;
					right: 0;
					position: absolute;
				}
			}
		}

		.feature__content {
			flex: 1;

			.feature__heading {
				font-size: 5rem;
				font-weight: 600;
				line-height: 1.2;
				letter-spacing: -0.02em;
				color: abstracts.$primary-color;
			}

			.feature__desc {
				margin-top: 18px;

				font-size: 1.8rem;
				font-weight: 300;
				line-height: 1.6;
				color: abstracts.$text-color;
			}

			.feature__cta {
				margin-top: 38px;
			}
		}
	}
}

// Member
.member {
	padding-block: 85px;

	.member__header {
		display: flex;
		flex-direction: column;
		align-items: center;

		.member__cta {
			margin-top: 38px;
		}
	}

	.member__list {
		margin-top: 70px;

		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 30px;

		.member-item {
			.member-item__img-bg {
				padding-top: 28px;
				border-radius: 6px;
				background: #eaf6ff;
				display: flex;
				justify-content: center;
				overflow: hidden;

				&:hover .member-item__thumb {
					cursor: pointer;
					transform: scale(1.175);
				}

				.member-item__thumb {
					max-width: 100%;
					height: 290px;

					display: block;
					object-fit: cover;
					transition: 0.3s;
				}
			}

			.member-item__name {
				margin-top: 12px;
				line-height: 1.75;
				text-align: center;
				color: abstracts.$primary-color;
			}

			.member-item__desc {
				font-size: 1.4rem;
				font-weight: 300;
				line-height: 1.85;
				text-align: center;
				color: abstracts.$text-color;
			}
		}
	}

	.member__control {
		margin-top: 38px;
		justify-content: center;
	}
}

// Install
.install {
	margin-top: 95px;
	padding-block: 85px;

	.install__body {
		padding: 76px 70px;

		display: flex;
		align-items: center;
		justify-content: flex-end;

		border-radius: 4px;
		background-color: abstracts.$secondary-color;
		position: relative;

		.install__img {
			width: 284px;
			height: 522px;
			object-fit: cover;
			display: block;

			bottom: 0;
			left: 70px;
			position: absolute;
		}

		.install__content {
			flex-shrink: 0;
			max-width: 586px;

			.install__heading {
				font-size: 5rem;
				font-weight: 600;
				line-height: 1.2;
				letter-spacing: -0.02em;
				color: abstracts.$white-color;
			}

			.install__desc {
				margin-top: 18px;

				font-size: 1.8rem;
				font-weight: 300;
				line-height: 1.67;
				color: abstracts.$white-color;
			}

			.install__row {
				margin-top: 38px;
				display: flex;
				column-gap: 28px;

				.install__btn {
					padding: 4px 8px;

					color: abstracts.$white-color;

					display: inline-flex;
					column-gap: 8px;
					align-items: center;
					border: 1px solid abstracts.$white-color;
					border-radius: 6px;

					&:hover {
						cursor: pointer;
					}

					.install-btn__text {
						text-align: left;
						line-height: 0.975;

						.install-btn__desc {
							font-weight: 500;
							font-size: 1.2rem;
						}

						.install-btn__name {
							font-weight: 600;
							font-size: 2rem;
						}
					}
				}
			}
		}
	}
}

// News
.news {
	padding: 85px 0;

	.news__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.news__content {
			flex-shrink: 0;
			max-width: 470px;

			.news__more {
				display: inline-flex;
				margin-top: 28px;

				font-size: 1.8rem;
				font-weight: 600;
				line-height: 1.75;
				color: abstracts.$primary-color;

				text-decoration-line: underline;
				text-underline-offset: 4px;
			}

			.news__control {
				margin-top: 28px;
			}
		}

		.news__list {
			max-width: 570px;
			display: flex;
			column-gap: 30px;

			.news-item {
				flex: 1;
				border-radius: 12px;
				overflow: hidden;
				transition: 0.3s;

				.news-item__thumb {
					height: 172px;
					overflow: hidden;

					&:hover .news-item__img {
						transform: scale(1.1);
					}

					.news-item__img {
						display: flex;
						width: 100%;
						height: 172px;
						object-fit: cover;
						transition: 0.3s;
					}
				}

				.news-item__body {
					border-bottom-left-radius: 12px;
					border-bottom-right-radius: 12px;
					padding: 18px;
					border: 1px solid #e8ebee;
					border-top: none;

					.news-item__heading {
						font-size: 1.6rem;
						font-weight: 600;
						line-height: 1.625;
						color: abstracts.$primary-color;
					}

					.news-item__desc {
						margin-top: 10px;
						font-size: 1.4rem;
						font-weight: 300;
						line-height: 1.71;
						color: abstracts.$text-color;
					}

					.news-item__more {
						margin-top: 12px;
						display: block;
						font-size: 1.4rem;
						line-height: 1.21;
						font-weight: 500;
						color: abstracts.$primary-color;
					}
				}

				&:hover {
					cursor: pointer;
					box-shadow: 0px 18px 50px 0px #0000000d;
					transform: translateY(-8px);

					.news-item__body {
						border-color: abstracts.$white-color;
					}

					.news-item__more {
						color: abstracts.$secondary-color;
					}
				}
			}
		}
	}
}

// Appointment
.appointment {
	padding: 85px 0;
	display: flex;
	justify-items: center;

	.appointment__inner {
		padding: 100px 170px;
		text-align: center;
		background-color: #f6fbff;

		.appointment__heading {
			position: relative;

			&::after {
				content: '';
				display: block;
				width: 140px;
				height: 2px;
				position: absolute;
				background-color: abstracts.$secondary-color;

				// Cách 1: CSS căn giữa
				// left: 50%;
				// transform: translateX(-50%);

				bottom: -18px;
				// Cách 2: CSS căn giữa
				left: 0;
				right: 0;
				margin: 0 auto;
			}
		}

		.appointment__desc {
			max-width: 620px;
			margin: 0 auto;
			margin-top: 38px;
		}

		.appointment__btn {
			margin-top: 38px;
		}
	}
}
