@use './../abstracts';

// Service
.service {
	margin-top: 170px;

	.service__heading,
	.service__desc {
		text-align: center;
	}

	.service__desc {
		width: 468px;
		margin-inline: auto;
	}

	.service__row {
		margin-top: 70px;

		display: flex;
		align-items: center;
		justify-content: space-between;

		.service__img {
			width: 570px;
			height: 570px;
			object-fit: cover;
		}
	}

	.service__list {
		width: 470px;

		.service-item {
			padding: 22px;
			display: flex;
			border-radius: 10px;
			transition: all 0.3s;
			background-color: abstracts.$white-color;

			&:hover {
				cursor: pointer;
				position: relative;
				box-shadow: 0px 14px 28px 0px #0000000d;

				.service-item__icon {
					color: abstracts.$white-color;
					background-color: abstracts.$secondary-color;
					box-shadow: 0px 8px 16px 0px #289bde26;
				}
			}

			.service-item__icon {
				width: 60px;
				height: 60px;

				flex-shrink: 0;
				justify-content: center;
				align-items: center;
				display: inline-flex;

				border-radius: 50%;

				color: abstracts.$primary-color;
				background-color: #eff6fd;
				box-shadow: 0px 8px 16px 0px #0000000d;
			}

			.service-item__body {
				margin-left: 19px;

				.service-item__heading {
					font-size: 1.8rem;
					font-weight: 600;
					line-height: 1.26;
					color: abstracts.$primary-color;
				}

				.service-item__desc {
					font-weight: 300;
					line-height: 1.75;
					color: abstracts.$text-color;
				}
			}
		}
	}

	.all-service-btn {
		margin-top: 55px;
	}
}

// Work
.work {
	margin-top: 170px;
	padding-block: 100px;

	background-color: #f6fbff;

	.work__desc {
		width: 478px;
	}

	.work__list {
		margin-top: 86px;

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 30px;

		.work-item {
			$color: #eaf6ff;

			border-radius: 4px;
			border: 16px solid $color;
			background-color: $color;
			transition: 0.3s;

			&:hover {
				cursor: pointer;
				transform: translateY(-16px);
				border-color: abstracts.$secondary-color;
				background-color: abstracts.$secondary-color;
			}

			.work-item__wrap {
				padding: 42px;
				border-radius: 4px;
				background-color: abstracts.$white-color;

				.work-item__heading {
					margin-top: 18px;

					font-size: 2.6rem;
					font-weight: 600;
					line-height: 1.38;
					color: abstracts.$primary-color;
				}

				.work-item__desc {
					margin-top: 28px;
					font-weight: 300;
					line-height: 1.75;
					color: abstracts.$text-color;
				}

				.work-item__more {
					margin-top: 18px;
					display: inline-block;

					font-weight: 300;
					line-height: 1.75;
					color: abstracts.$secondary-color;
				}
			}
		}
	}
}

// Feature {
.feature {
	margin-top: 75px;
	padding-block: 75px;

	.feature__wrap {
		display: flex;
		column-gap: 130px;
		align-items: center;

		.feature__media {
			width: 48%;

			.feature__imgs {
				position: relative;
				padding-bottom: 121px;

				.feature__img {
					border-radius: 6px;
					object-fit: cover;
					display: inline-flex;
				}

				.feature__img:first-child {
					width: 512px;
					height: 370px;
				}

				.feature__img:last-child {
					width: 332px;
					height: 370px;

					bottom: 0;
					right: 0;
					position: absolute;
				}
			}
		}

		.feature__content {
			flex: 1;

			.feature__heading {
				font-size: 5rem;
				font-weight: 600;
				line-height: 1.2;
				letter-spacing: -0.02em;
				color: abstracts.$primary-color;
			}

			.feature__desc {
				margin-top: 18px;

				font-size: 1.8rem;
				font-weight: 300;
				line-height: 1.6;
				color: abstracts.$text-color;
			}

			.feature__cta-btn {
				margin-top: 38px;
			}
		}
	}
}
