@use './../abstracts';

// Header
.header {
	min-height: 100vh;
	padding-top: 30px;
	background-color: abstracts.$header-bg-color;
}

.logo {
	font-size: 1rem;
	position: relative;
	display: inline-flex;

	.logo-circle {
		&::before,
		&::after {
			content: '';
			display: inline-block;
			border-radius: 50%;
		}

		&::before {
			width: 3em;
			height: 3em;
			background-color: abstracts.$primary-color;
		}

		&::after {
			width: 1.6em;
			height: 1.6em;
			background-color: abstracts.$white-color;

			top: 1.1em;
			left: 1.1em;
			position: absolute;
		}
	}

	.logo-text {
		margin-left: 0.6em;
		text-align: right;
		line-height: 1.4em;

		.logo-brand {
			display: block;
			font-size: 1.8em;
			color: abstracts.$white-color;

			&--small {
				font-weight: 300;
				font-size: 1.2em;
			}
		}
	}
}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 2.8rem;

	.header-top__action {
		display: inline-flex;
		align-items: center;

		.btn-login {
			color: #c9d2da;
		}

		.btn-signup {
			margin-left: 28px;
		}
	}
}

// Navbar
.navbar {
	.navbar__list {
		display: flex;
		align-items: center;
		gap: 0 30px;

		.btn-login,
		.navbar__item {
			.navbar__link {
				padding: 4px 6px;

				color: #c9d2da;
				font-weight: 300;

				&:not(.navbar__link--active):hover {
					opacity: 0.9;
					text-shadow: 1px 0 0 currentColor;
				}
			}

			.navbar__link--active {
				color: abstracts.$white-color;
				text-shadow: 1px 0 0 currentColor;
				position: relative;

				&::before {
					$size: 6px;

					content: '';
					width: $size;
					height: $size;
					display: inline-block;

					border-radius: 50%;
					background-color: abstracts.$white-color;

					top: calc(50% - $size / 2);
					left: -2px;
					position: absolute;
				}
			}
		}
	}
}

// Hero
.hero {
	margin-top: 76px;
	display: flex;
	align-items: center;

	.hero__content {
		width: 44%;
		flex-shrink: 0;

		.hero__heading {
			font-size: 7rem;
			font-weight: 600;
			line-height: 8rem;
			letter-spacing: -0.02em;
			color: abstracts.$white-color;
		}

		.hero__desc {
			font-size: 1.8rem;
			font-weight: 300;
			line-height: 3rem;
			color: #c9d2da;
		}

		.hero__cta {
			margin-top: 38px;
			display: inline-flex;
			align-items: center;

			.hero__phone {
				margin-left: 38px;

				font-size: 1.8rem;
				line-height: 3rem;
				color: abstracts.$white-color;
			}
		}
	}

	.hero__media {
		flex-grow: 1;

		.hero__images {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.hero__img {
				border-radius: 6px;
				object-fit: cover;
				object-position: center;

				&:first-child {
					width: 330px;
					height: 540px;
					margin-right: -6px;
					position: relative;
					// transform: translateX(6px);
				}

				&:last-child {
					width: 210px;
					height: 410px;
				}
			}
		}
	}
}
